[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
alembic = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"